* {
box-sizing: border-box;
}


body {
	max-width: 100%;
	color: #002D2D;
	background: white;
	font-family: 'Raleway', sans-serif;
	}
	
#contactheader {
	background: #002D2D;
	padding: 1vw 0;
	}
	

.colorburst, #designlist ul li {
	color: #CD5D00;
	}

#rotating-item-wrapper {
    position: relative;
    max-width: 100%;
    height: 150vw;
    color: white;
    overflow: hidden;
}

.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
   	max-width: 300%;
}

a {
	text-decoration: none;
	color: white;
	}

#nav {
	margin: 0;
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 4%;
	}
	
#nav2 {
	padding-left: 2vw;
	}
	
#logo {
	position: absolute;
	top: 0%;
	right: 3%;
	padding-top: 5%;
	z-index: 11;
	width: 9%;
	}
	
#contactheader #logo {
	
	
	}
	
#nav li, #nav2 li {
	display: inline-block;
	padding: 2%;
	font-size: 5vw;
	}
	
#name {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	z-index: 12;
	font-size: 10vw;
	opacity: 0.7;
	font-family: 'Righteous', cursive;
	}
	
	
#servicelist {
	padding: 5vh 0 2vh;
	margin-top: -2vh;
	list-style-type: none;
	text-align: center;
	font-weight: 700;
}

#servicelist li {
	padding-bottom: 2vh;
	}
	
#buttondiv {
	background: #efefef;
	padding: 3vh;
	}
	
button {
	display: block;
	background: #efefef;
	border: 2px solid #CD5D00;
	padding: 1vh 3vh;
	margin: 0 auto;
	transition: border .2s;
	}
	
button:hover {
	border: 2px solid rgba(205, 93, 0, .6);
	}
	
#statementdiv {
	background: #c8c8c8;
	padding: 3vh 1.5vh;
	text-indent: 5%;
	line-height: 1.6;
	}
	
	
#webdiv {
	background: #efefef;
	}
	
#webdiv, #printdiv {
	padding: .5vh;
	}
	
#webdiv p, #printdiv p {
	text-align: center;
	padding: 0 1.5vh;
	}
	
#printdiv {
	background: #efefef;
	padding-bottom: 6vh;
	}
	
.imgdiv {
	max-width: 90%;
	margin: 0 auto;
	padding: 6vh 0 2vh;
	}
	
.imgdiv img {
	width: 100%;
	}
	

h2 {
	text-align: center;
	padding: 6vh 2vh 3vh;
	margin: 0;
	}
	
#unitydesign {
	background: #c8c8c8;
	padding: 4vh 0;
	}
	
#designlist {
	padding: 0 0 1vh 4vh;
	}
	
.uldiv {
	display: inline-block;
	width: 49%;
	}
	
#designlist ul {
	list-style-type: circle;
	font-weight: 500;	
	}
	
#designlist ul li {
	padding-bottom: 1.5vh;
	}
	
#button2div {
	margin-bottom: 10vh;
	}
	
#button2div button {
	background: white;
	}
	
footer {
	background: #efefef;
	padding-bottom: 1vh;
	vertical-align: bottom;
	position: relative
	}
	
#footerul, #footerlogodiv {
	width: 48%;
	display: inline-block;
	}	
	

#footerul ul {
	list-style-type: none;
	padding: 1vh;
	margin-top: 0;
	}
	
#footerlogodiv svg {
	width: 35%;
	display: block;
	margin-right: 0;
	margin-left: auto;
	padding-top: 3vh;
	}
	
#footername {
	text-align: center;
	}
	
#contact p {
	text-align: center;
	color: #CD5D00;
	padding: 0 5vw;
	}
	
form {
	max-width: 100%;
	padding: 2vw;
	}
	
input, textarea {
	width: 90%;
	background: #efefef;
	margin: 0 auto 4vh;
	border: none;
	border: 1px solid #c8c8c8;
	}
	
label, input, textarea {
	display: block;
	
	}
	
textarea {
	height: 20vh;
	}

form button {
	background: white;
	}
	
#contactsvg {
	width: 75%;
	margin: 0 auto;
	padding-top: 5vh;
	}
	
#contactname {
	text-align: center;
	font-family: 'Righteous', cursive;
	}
	


@media only screen and (orientation: landscape) {
	.rotating-item {
		max-width: 100%;
		}
		
	#rotating-item-wrapper {
		height: 50vw;
		}
}
	
	
@media only screen and (min-width: 567px) {

	#nav li, #nav2 li {
		font-size: 3vw;
		}
		
	#servicelist li {
		display: inline-block;
		padding:  4vh;
		font-size: 3vw;
		}
		
	#servicelist {
		margin-top: 0;
		padding-top: 2vw;
		}
	
	button {
		padding: 2vh 4vh;
		}
	
	#buttondiv {
		padding: 5vh;
		}
		
	#statementdiv {
		padding: 5vh 8vh;
		text-indent: 8%;
		}
		
	.imgdiv {
		max-width: 60%;
		margin: 3vh auto 0;
		padding: 10vh 0 2vh;
		}
		
	#webdiv p, #printdiv p {
		padding: 0 12vh;
		}
		
	#designlist {
		padding: 0 0 1vh 24vw;
		}
		
	#designlist ul li {
		font-size: 3vw;
		}
		
	#cost {
		padding: 5vh;
		}
		
	#footerlogodiv svg {
		width: 20%;
		}
		
	form {
		max-width: 90%;
		margin: 0 auto;
		}
		
	#contactsvg {
		width: 55%;
		}
}

@media only screen and (orientation: portrait) and (min-width: 737px) {

	#rotating-item-wrapper {
		height: 115vw;
		}

	#nav li, #nav2 li {
		font-size: 3vw;
		}
		
	button {
		font-size: 3vw;
		}

	#servicelist {
		padding: 0 0 2vh;
		}


	#servicelist li {
		display: inline-block;
		padding:  4vh;
		font-size: 2vh;
		}
		
	#statementdiv, #webdiv p, #printdiv p, .uldiv ul li {
		font-size: 2vh;
		}
		
	#statementdiv {
		padding: 5vh 3vw;
		}
		
	.imgdiv {
		max-width: 60%;
		}
		
	#unitydesign {
		padding: 0 0 2vh;
		}
		
	#designlist {
		padding: 0 0 1vh 14vh;
		}
	
	h2 {
		font-size: 3vh;
		}

	#button2div {
		margin-bottom: 7vh;
		}
		
	#footerlogodiv svg {
		width: 20%;
		}

}

@media only screen and (orientation: portrait) and (min-width: 850px) {

	#rotating-item-wrapper {
		height: 68vh;
		}

}

@media only screen and (orientation: landscape) and (min-width: 767px) {

	#nav li, #nav2 li {
		font-size: 2vw;
		}
		
	#unity, #statementdiv {
		width: 50%;
		display: inline-block;
		}
		
	#buttondiv {
		padding: 8vh;
		}
		
	#statementdiv {
		font-size: 2.2vw;
		padding: 4vw;
		line-height: 1.7;
		}
		
	#container {
		display: flex;
		}
		
	#servicelist li {
		display: block;
		padding: 2vw;
		}
		
	button {
		font-size: 2vw;
		}
		
	#webprint {
		display: flex;
		}
		
	#webdiv, #printdiv {
		width: 50%;
		}
		
	.imgdiv {
		max-width: 70%;
		}
		
		
	#printdiv p {
		padding-top: 2vh;
		}
		
	#printdiv p, #webdiv p {
		font-size: 2vw;
		}
		
	#unitydesign {
		display: flex;
		padding: 0;
		}
		
	#designlist, #design {
		width: 50%;
		}
		
	#designlist {
		padding: 8vh 0 8vh 6vw;
		background: white;
		}
		
	#designlist ul li {
		font-size: 2.2vw;
		padding: 1.5vw;
		}
		
	.uldiv {
		padding-left: 1vw;
		}
		
	h2 {
		font-size: 3.5vw;
		}
		
	#design h2 {
		padding: 25% 0;
		}
		
	#costcontainer {
		display: flex;
		}
		
	#cost, #button2div {
		width: 50%;
		}
	
	#cost h2 {
		padding-top: 15%;
		}
	
	#cost {
		order: 2;
		background: #c8c8c8;
		}
		
	#button2div button {
		margin-top: 22%;
		margin-bottom: 10%;
		}
	
	#footerlogodiv svg {
		width: 15%;
		}
		
	footer {
		padding: 0 4vw;
		}	

}

@media only screen and (min-width: 1100px) {

	#logo {
		width: 6%;
		}
		
	#name {
		font-size: 8vw;
		}
		
	#servicelist li {
		font-size: 2.5vw;
		}
		
	#statementdiv {
		font-size: 1.8vw;
		padding-top: 6vw;
		}
		
	#buttondiv {
		padding: 6vh;
		}
		
	.imgdiv {
		max-width: 65%;
		}
		
	#printdiv p, #webdiv p, #designlist ul li {
		font-size: 1.8vw;
		}

	h2 {
		font-size: 3vw;
		}
		
	#footerlogodiv svg {
		width: 20%;
		}
		
	footer {
		padding: 0 30vw;
		}	

}


@media only screen and (min-width: 1278px) {

	.imgdiv {
		max-width: 60%;
		}

}
